.visible{
    width: 80%;
    height: 100%;
    backdrop-filter: 2;
    background-color: #ffffffa1;
    position: fixed;
    top: 0;
    display: flex;
    place-items: center;
    justify-content: center;
    
}
.vis{
    width: 700px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 13px 16px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: 1px solid greenyellow;
    height: 400px;
    background-color: aliceblue;
    border-radius: 10px;
    
    z-index: 888;
}
